<div class="container mat-elevation-z8">
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
    <h1 class="full-width">Configurações do Usuário</h1>
    <img class="full-width" src="assets/img/chamado-create.svg" alt="Imagem de Configurações">

    <form [formGroup]="settingsForm" class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>ID</mat-label>
            <input matInput id="id" formControlName="id" required readonly/>
            <mat-error *ngIf="settingsForm.get('id')?.hasError('required')">
                ID é obrigatório
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput id="name" formControlName="nome" required readonly/>
            <mat-error *ngIf="settingsForm.get('nome')?.hasError('required')">
                Nome é obrigatório
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput id="email" formControlName="email" required readonly type="email"/>
            <mat-error *ngIf="settingsForm.get('email')?.hasError('required')">
                Email é obrigatório
            </mat-error>
            <mat-error *ngIf="settingsForm.get('email')?.hasError('email')">
                Email inválido
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Senha Atual</mat-label>
            <div class="password-container">
                <input
                        matInput
                        id="currentPassword"
                        formControlName="senhaAtual"
                        [type]="showPassword.senhaAtual ? 'text' : 'password'"
                        (click)="handleSenhaAtualChange()"
                        [value]="settingsForm.get('senhaAtual')?.value"/>
                <div class="button-group">
                    <button
                            type="button"
                            mat-icon-button
                            (click)="togglePasswordVisibility('senhaAtual')"
                            class="password-visibility-button">
                        <mat-icon>{{ showPassword.senhaAtual ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
                    <button
                            type="button"
                            mat-icon-button
                            class="info-button"
                            matTooltip="Digite a sua senha atual, antes de escolher uma nova senha."
                            aria-label="Informação sobre a senha atual">
                        <mat-icon>info_outline</mat-icon>
                    </button>
                </div>
            </div>
            <mat-error *ngIf="settingsForm.get('senhaAtual')?.hasError('required')">
                Senha atual é obrigatória
            </mat-error>
        </mat-form-field>

        <div *ngIf="showPasswordFields" class="password-fields">
            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Nova Senha</mat-label>
                <div class="password-container">
                    <input
                            matInput
                            id="newPassword"
                            formControlName="senhaNova"
                            [type]="showPassword.senhaNova ? 'text' : 'password'"
                            (input)="validatePassword('senhaNova')"/>
                    <div class="button-group">
                        <button
                                type="button"
                                mat-icon-button
                                (click)="togglePasswordVisibility('senhaNova')"
                                class="password-visibility-button">
                            <mat-icon>{{ showPassword.senhaNova ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <button
                                type="button"
                                mat-icon-button
                                class="info-button"
                                matTooltip="A nova senha deve ter pelo menos 10 caracteres e incluir pelo menos uma letra maíscula, uma minúscula, um número e um caractere especial."
                                aria-label="Informação sobre a nova senha">
                            <mat-icon>info_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-error *ngIf="settingsForm.get('senhaNova')?.hasError('required')">
                    Nova senha é obrigatória
                </mat-error>
                <mat-error *ngIf="settingsForm.get('senhaNova')?.hasError('minlength')">
                    A nova senha deve ter pelo menos 6 caracteres
                </mat-error>
                <mat-error *ngIf="passwordErrors.senhaNova?.invalidPassword">
                    {{ passwordErrors.senhaNova.invalidPassword }}
                </mat-error>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Confirmar Nova Senha</mat-label>
                <div class="password-container">
                    <input
                            matInput
                            id="confirmNewPassword"
                            formControlName="confirmaSenhaNova"
                            [type]="showPassword.confirmaSenhaNova ? 'text' : 'password'"
                            (input)="validatePassword('confirmaSenhaNova')"/>
                    <div class="button-group">
                        <button
                                type="button"
                                mat-icon-button
                                (click)="togglePasswordVisibility('confirmaSenhaNova')"
                                class="password-visibility-button">
                            <mat-icon>{{ showPassword.confirmaSenhaNova ? 'visibility_off' : 'visibility' }}</mat-icon>
                        </button>
                        <button
                                type="button"
                                mat-icon-button
                                class="info-button"
                                matTooltip="Confirme a nova senha para garantir que corresponde à senha digitada."
                                aria-label="Informação sobre a confirmação da nova senha">
                            <mat-icon>info_outline</mat-icon>
                        </button>
                    </div>
                </div>
                <mat-error *ngIf="settingsForm.get('confirmaSenhaNova')?.hasError('required')">
                    Confirmação de senha é obrigatória
                </mat-error>
                <mat-error *ngIf="settingsForm.hasError('passwordsMismatch')">
                    As senhas não coincidem
                </mat-error>
            </mat-form-field>

            <button
                    type="button"
                    (click)="cancelPasswordEdit()"
                    class="full-width mat-elevation-z4"
                    mat-raised-button
                    color="warn">
                Cancelar
            </button>
        </div>

        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Tema</mat-label>
            <mat-select
                    id="theme"
                    formControlName="tema"
                    required
                    (selectionChange)="onThemeChange($event)">
                <mat-option *ngFor="let theme of availableThemes" [value]="theme">
                    {{ theme | titlecase }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <ng-container formArrayName="roles">
            <div *ngFor="let roleControl of rolesControls; let i = index">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Permissão {{ i + 1 }}</mat-label>
                    <input matInput [value]="translateRole(roleControl.value)" readonly>
                </mat-form-field>
            </div>
        </ng-container>
    </form>

    <form *ngIf="showTokenFields" [formGroup]="adminSettingsForm" class="form">
        <h2>Configurações de Administrador</h2>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Perfil</mat-label>
            <mat-select formControlName="perfil" (selectionChange)="onPerfilChange($event.value)">
                <mat-option *ngFor="let perfil of perfis" [value]="perfil.value">
                    {{ perfil.label }}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field *ngIf="!isNewProfile" appearance="outline" class="full-width">
            <mat-label>ID</mat-label>
            <input matInput [value]="perfilId" readonly>
        </mat-form-field>

        <mat-form-field class="full-width admin-form-field" appearance="outline">
            <mat-label>Tempo de Expiração do Token (minutos)</mat-label>
            <input matInput id="tokenTempoExpiracaoMinutos" formControlName="tokenTempoExpiracaoMinutos" type="number" class="admin-no-spinner"/>
            <button
                    type="button"
                    mat-icon-button
                    class="admin-info-button info-button-tokenTempoExpiracaoMinutos"
                    matTooltip="Este é o tempo total que o token JWT possui quando é gerado e guardado no frontend, após esse tempo ele expira."
                    aria-label="Informação sobre a expiração do Token">
                <mat-icon>info_outline</mat-icon>
            </button>
            <mat-error *ngIf="adminSettingsForm.get('tokenTempoExpiracaoMinutos')?.hasError('tokenTempoExpiracaoMinutosRequired')">
                O campo "Tempo de Expiração do Token" é obrigatório.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tokenTempoExpiracaoMinutos')?.hasError('tokenTempoExpiracaoMinutosMin')">
                O valor deve ser pelo menos 60 minutos.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tokenTempoExpiracaoMinutos')?.hasError('tokenTempoExpiracaoMinutosMax')">
                O valor não pode ser maior que 1440 minutos.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width admin-form-field" appearance="outline">
            <mat-label>Tempo Restante do Token para Exibir Diálogo (minutos)</mat-label>
            <input matInput id="tempoTokenExibeDialogoMinutos" formControlName="tempoTokenExibeDialogoMinutos" type="number"
                   class="admin-no-spinner"/>
            <button
                    type="button"
                    mat-icon-button
                    class="admin-info-button info-button-tempoTokenExibeDialogoMinutos"
                    matTooltip="Aqui o tempo é relativo ao tempo que falta para o token expirar, quando falta este tempo, abre um diálogo para renovar o token antes que expire."
                    aria-label="Informação sobre o tempo para exibir o diálogo de token">
                <mat-icon>info_outline</mat-icon>
            </button>
            <mat-error *ngIf="adminSettingsForm.get('tempoTokenExibeDialogoMinutos')?.hasError('tempoTokenExibeDialogoMinutosRequired')">
                O campo "Tempo para Exibir Diálogo de Token" é obrigatório.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tempoTokenExibeDialogoMinutos')?.hasError('tempoTokenExibeDialogoMinutosMin')">
                O tempo para exibir o diálogo deve ser pelo menos 15 minutos.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tempoTokenExibeDialogoMinutos')?.hasError('tempoTokenExibeDialogoMinutosMax')">
                O tempo para exibir o diálogo não pode ser maior que 30 minutos.
            </mat-error>
        </mat-form-field>

        <mat-error *ngIf="adminSettingsForm.hasError('tempoAvisoInadequado')">
            O tempo para exibir o diálogo deve garantir pelo menos 15 minutos antes da expiração do Token.
        </mat-error>

        <mat-form-field class="full-width admin-form-field" appearance="outline">
            <mat-label>Tempo de Exibição do Diálogo para Atualizar Token (minutos)</mat-label>
            <input matInput id="tempoExibicaoDialogoAtualizaTokenMinutos" formControlName="tempoExibicaoDialogoAtualizaTokenMinutos" type="number"
                   class="admin-no-spinner"/>
            <button
                    type="button"
                    mat-icon-button
                    class="admin-info-button info-button-tempoExibicaoDialogoAtualizaTokenMinutos"
                    matTooltip="Este é o tempo que o diálogo ficará aberto aguardando o usuário atualizar seu token, após o token ser destruído e o usuário terá que fazer novo login."
                    aria-label="Informação sobre o tempo de exibição do diálogo para atualizar token">
                <mat-icon>info_outline</mat-icon>
            </button>
            <mat-error *ngIf="adminSettingsForm.get('tempoExibicaoDialogoAtualizaTokenMinutos')?.hasError('required')">
                O campo "Tempo de Exibição do Diálogo para Atualizar Token" é obrigatório.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tempoExibicaoDialogoAtualizaTokenMinutos')?.hasError('min')">
                O valor deve ser pelo menos {{ adminSettingsForm.get('tempoExibicaoDialogoAtualizaTokenMinutos')?.errors?.min?.min }} minutos.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('tempoExibicaoDialogoAtualizaTokenMinutos')?.hasError('max')">
                O valor não pode ser maior que {{ adminSettingsForm.get('tempoExibicaoDialogoAtualizaTokenMinutos')?.errors?.max?.max }} minutos.
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width admin-form-field" appearance="outline">
            <mat-label>Intervalo de Atualização do Token (minutos)</mat-label>
            <input matInput id="intervaloAtualizacaoTokenMinutos" formControlName="intervaloAtualizacaoTokenMinutos" type="number"
                   class="admin-no-spinner"/>
            <button
                    type="button"
                    mat-icon-button
                    class="admin-info-button info-button-intervaloAtualizacaoTokenMinutos"
                    matTooltip="Aqui o tempo é utilizado para que o serviço que verifica o tempo útil do token seja atualizado, esse tempo é contabilizado para abrir o diálogo."
                    aria-label="Informação sobre o intervalo de atualização do token">
                <mat-icon>info_outline</mat-icon>
            </button>
            <mat-error *ngIf="adminSettingsForm.get('intervaloAtualizacaoTokenMinutos')?.hasError('required')">
                O campo "Intervalo de Atualização do Token" é obrigatório.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('intervaloAtualizacaoTokenMinutos')?.hasError('min')">
                O valor deve ser pelo menos {{ adminSettingsForm.get('intervaloAtualizacaoTokenMinutos')?.errors?.min?.min }} minutos.
            </mat-error>
            <mat-error *ngIf="adminSettingsForm.get('intervaloAtualizacaoTokenMinutos')?.hasError('max')">
                O valor não pode ser maior que {{ adminSettingsForm.get('intervaloAtualizacaoTokenMinutos')?.errors?.max?.max }} minutos.
            </mat-error>
        </mat-form-field>
    </form>

    <button
            (click)="saveAllSettings()"
            [disabled]="!isAnySaveEnabled()"
            class="full-width mat-elevation-z4"
            mat-raised-button
            color="primary">
        Salvar Todas as Configurações
    </button>

    <p class="full-width">Desenvolvido por Luiz Generoso</p>
</div>
