<div class="container mat-elevation-z8">
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
    <h1 class="full-width">Leitura de chamado</h1>
    <img class="full-width" src="assets/img/chamado-create.svg" alt="Chamado image">

    <form class="form">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Título do chamado</mat-label>
            <input
                    [disabled]="true"
                    [(ngModel)]="chamado.titulo"
                    name="titulo"
                    matInput
                    placeholder="Ex. Trocar bateria de notebook">
        </mat-form-field>
    </form>

    <div class="status-prioridade">
        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Status</mat-label>
            <input
                    [disabled]="true"
                    matInput
                    [value]="retornaStatus(chamado.status)">
        </mat-form-field>

        <mat-form-field appearance="outline" class="full-width">
            <mat-label>Prioridade</mat-label>
            <input
                    [disabled]="true"
                    matInput
                    [value]="retornaPrioridade(chamado.prioridade)">
        </mat-form-field>
    </div>

    <div class="tecnico">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Técnico</mat-label>
            <input
                    [disabled]="true"
                    [(ngModel)]="chamado.nomeTecnico"
                    name="tecnico"
                    matInput>
        </mat-form-field>
    </div>

    <div class="cliente">
        <mat-form-field class="full-width" appearance="outline">
            <mat-label>Cliente</mat-label>
            <input
                    [disabled]="true"
                    [(ngModel)]="chamado.nomeCliente"
                    name="cliente"
                    matInput>
        </mat-form-field>
    </div>

    <div class="observacoes-container mat-elevation-z2">
        <h1 class="observacoes-titulo">Observações</h1>
        <div class="observacoes-list">
            <div *ngFor="let observacao of chamado.observacoes" class="observacao-item">
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label class="black-label">{{ observacao.tecnicoResponsavelNome }}:   {{ observacao.dataObservacao }}</mat-label>
                    <textarea matInput [disabled]="true" [(ngModel)]="observacao.observacao"></textarea>
                </mat-form-field>
            </div>
        </div>
    </div>

    <button routerLink="../../" class="full-width mat-elevation-z4" mat-stroked-button color="warn">Retornar</button>

    <p class="full-width">Desenvolvido por Luiz Generoso</p>
</div>
