<mat-card class="card mat-elevation-z8">
    <app-spinner></app-spinner>
    <router-outlet></router-outlet>
    <mat-card-header>
        <mat-card-title>Help Desk</mat-card-title>
        <mat-card-subtitle class="sub">Projeto em constantes melhorias.</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home Help Desk">
    <mat-card-content>
        <p>
            Olá! Seja bem vindo ao sistema Help Desk 2.0 antes desenvolvido por mim na academia de java na Atos.<br/>
           Agora nesta segunda fase estou fazendo diversas melhorias. Help Desk desenvolvido em Angular no front e
            Spring Boot no back.
            <br/>O sistema está em constante refinamento.<br/>
            O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização
            com
            Tokens JWT e muito mais. O código fonte do projeto pode ser acessado clicando no link Github no menu
            lateral.
            <br/><br/> Fique a vontade para testar o sistema e deixar sua sugestão.
            <br/> At.te: Luiz Generoso
        </p>
    </mat-card-content>
</mat-card>
